@using Microsoft.AspNetCore.Identity
@using BoardGameDB.Models
@using BoardGameDB.Controllers

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BoardGameDB</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Games" asp-action="Index">BoardGameDB</a>

                    @if (SignInManager.IsSignedIn(User))
                {
                    <a class="navbar">Logged In</a>
                    <form method="post" asp-controller="Account" asp-action="Logout"><input type="submit" value="Logout"/></form>
                }
                else
                {
                    <a class="navbar" asp-controller="Account" asp-action="Login">Login</a>
                    <a class="navbar" asp-controller="Account" asp-action="Register">Register</a>
                }
                
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2019 - BoardGameDB
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
